<div class="container-fluid ps-md-0">
  <div class="row g-o">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6 p-0">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="d-flex justify-content-around">
            <div class="col-md-9 col-lg-8">
              <h1 class="d-flex justify-content-center mb-0">Bienvenue</h1>
              <div class="row list-unstyled">
                <div class="col-xs-6 col-md-6">
                  <div class="form-group ">
                    <label for="custom-select">Veuillez-vous choisir une option</label>
                    <select class="custom-select" (change)="isSignInOrSignUp($event)" name="custom-select" id="custom-select" aria-describedby="custom-select-help-text">
                      <option value="signUp">Créer son compte</option>
                      <option value="signIn">Se connecter</option>
                    </select>
                  </div>
                </div>
              </div>
              <app-forms (emitFormValue)="submitFormValue($event)" [isLogin]="isLogin"></app-forms>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


